* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(124deg, #8d372a, #973131, #887126, #7c7e1e, #1c742b, #1c767a, #272381, #611368, #5a1461);
    background-size: 1800% 1800%;
    -webkit-animation: rainbow 18s ease infinite;
    -z-animation: rainbow 18s ease infinite;
    -o-animation: rainbow 18s ease infinite;
    animation: rainbow 18s ease infinite;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}

.toggle {
    position: relative;
    display: flex;
    background: #fff;
    border-radius: 10px;
    transition: 0.6s ease-out;
    box-shadow: 10px 8px 10px #0000006b;
    padding: 0px 10px;
    height: 75px;
    width: 120px;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.f {
    justify-content: flex-start;
}

.c {
    justify-content: flex-end;
}

.f, .c {
    padding: 15px 13px;
    color: #202a46;
    text-align: center;
    border-radius: 10px;
    background-color: #b2e7ff90;
}


.c:hover, .f:hover {
    background: #202a46;
    color: #fff;
    cursor: pointer;
}

.f p, .c p {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.container {
    position: relative;
    width: 400px;
    height: 105px;
    background: #fff;
    padding: 28px 56px;
    overflow: hidden;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    transition: 0.6s ease-out;
    box-shadow: 10px 8px 10px #0000006b;
}

.search-box {
    width: 100%;
    height: min-content;
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding-bottom: 20px;

}

.search-box input {
    color: rgb(65, 65, 65);
    width: 80%;
    font-size: 1.5em;
    text-align: center;
    font-weight: 600;
    padding-left: 20px;
}

.search-box input::placeholder {
    font-size: 20px;
    text-transform: capitalize;
    color: #202a46;
}

.search-box button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    color: #202a46;
    background-color: #b2e7ff90;
    font-size: 1em;
}

.search-box button:hover {
    color: #fff;
    background: #202a46;
}

.search-box i {
    position: absolute;
    font-size: 28px;
}

.weather-box {
    text-align: center;
    border-radius: 20px;
}

.weather-box img {
    width: 60%;
    margin-top: 30px;
}

.weather-box .temperature {
    position: relative;
    color: #202a46;
    font-size: 60px;
    font-weight: 800;
    margin-top: 10px;
    margin-left: -10px;
}

.weather-box .temperature span {
    position: absolute;
    margin-left: 4px;
    font-size: 30px;
    margin-top: 10px;
}

.weather-box .description {
    color: #202a46;
    font-size: 26px;
    font-weight: 500;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 25px;
}

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.weather-details:hover {
    background: #c0ccec69;
}

.weather-box:hover {
    background: #bfe8f869;
}

.weather-details .humidity, .weather-details .wind {
    width: 50%;
    justify-items: space-between;
    align-items: center;
    display: flex;
    height: 100px;
}

.weather-details .humidity {
    padding-left: 20px;
    justify-content: flex-start;
}

.weather-details .wind {
    padding-right: 20px;
    justify-content: flex-end;
}

.weather-details i {
    color: #202a46;
    font-size: 25px;
    margin-right: 10px;
    margin-bottom: 26px;
}

.weather-details span {
    color: #202a46;
    font-size: 30px;
    font-weight: 500;
}

.weather-details p {
    color: #202a46;
    font-size: 15px;
    font-weight: 700;
}
.not-found {
    width: 100%;
    text-align: center;
    scale: 0;
    opacity: 0;
    display: none;
}

.not-found img {
    width: 80%;
}

.not-found p {
    color: #202a46;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-top: 15px;
}

.weather-box, .weather-details {
    scale: 0;
    opacity: 0;
}

.fadeIn {
    animation: 0.5s fadeIn forwards;
    animation-delay: 0.5s;
}

@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
